{% extends 'sbase.html' %}
{% load static %}
{% block body %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static './img/bg-img/24.jpg' %});">
            <h2>Orders</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Orders</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Cart Area Start ##### -->
    <div class="cart-area section-padding-0-100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Quantity</th>
                                    <th>Product</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in object %}
                                {% if order_item.item.usr == request.user %}


                                <tr>
                                    <td class="cart_product_img">
                                        <h5>{{ order_item.usr }}<br>
                                            {% for ad in orderd %}
                                            {% if ad.usr == order_item.usr %}
                                            {{ ad.apartment_address }},
                                            {{ ad.street_address }},<br>
                                            {{ ad.country }},
                                            {{ ad.zip }}<br>
                                            {% endif %}
                                            {% endfor %}
                                        <br>

                                        </h5>
                                    </td>
                                       <td class="quantity">  <h5>
                                    {{ order_item.quantity }}</h5>
                                     </td>
                                    <td class="cart_product_img">

                                        <h5>{{ order_item.item.Product_name }}



                                        </h5>
                                    </td>
                                </tr>
                                   {% endif %}
                                {% empty %}
                            <tr>
                                <td colspan='5'>You Have no orders</td>

                            </tr>

                                 {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">



                <!-- Cart Totals -->

            </div>

        </div>
    </div>
    <!-- ##### Cart Area End ##### -->

	{% endblock %}
