{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static './img/bg-img/24.jpg' %});">
            <h2>Cart</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Cart Area Start ##### -->
    <div class="cart-area section-padding-0-100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Products</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>TOTAL</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order_item in object.items.all %}
                                <tr>

                                    <td class="cart_product_img">

                                        <a href="#"><img src="{{ order_item.item.Product_Image.url }}" alt="Product"></a>
                                        <h5>{{ order_item.item.Product_name }}</h5>
                                    </td>
                                    <td class="qty">
                                        <div class="quantity">
                                            <span class="qty-minus"><a href="{% url 'remove-single-item-from-cart' order_item.item.id %}"><i class="fa fa-minus" aria-hidden="true"></i></a></span>
                                            <input type="number" class="qty-text" id="qty" step="1" min="1" max="99" name="quantity" value="{{ order_item.quantity }}">
                                            <span class="qty-plus"><a href="{% url 'add-to-cart' order_item.item.id %}"><i class="fa fa-plus" aria-hidden="true"></i></a></span>
                                        </div>
                                    </td>

                                    <td class="price"><span>Rs. {{ order_item.item.Price}}</span></td>




                                    <td class="total_price"><span>Rs. {{ order_item.get_total_item_price }}</span></td>
                                    <td class="action"><a href="{% url 'remove-from-cart' order_item.item.id %}"><i class="icon_close"></i></a></td>
                                </tr>
                            {% empty %}
                            <tr>
                                <td colspan='5'>Your cart is empty</td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                <a class='btn green-btn float-right' href="{% url 'Shop' %}">CONTINUE SHOPPING</a>
                                </td>
                            </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Coupon Discount
                <div class="col-12 col-lg-6">
                    <div class="coupon-discount mt-70">
                        <h5>COUPON DISCOUNT</h5>
                        <form action="#" method="post">
                            <input type="text" name="coupon-code" placeholder="Enter your coupon code">
                            <button type="submit">APPLY COUPON</button>
                        </form>
                    </div>
                </div>-->
                <div class="col-12 col-lg-6">
                    <div class="mt-70">


                            <a href="{% url 'Shop' %}" class="btn green-btn w-100">CONTINUE SHOPPING</a>

                    </div>
                </div>

                <!-- Cart Totals -->
                <div class="col-12 col-lg-6">
                    <div class="cart-totals-area mt-70">


                        {% if object.get_total %}
                        <div class="total d-flex justify-content-between">
                            <h5>Total</h5>
                            <h5>Rs. {{ object.get_total }}</h5>
                        </div>
                        <div class="checkout-btn">
                            <a href="{% url 'Checkout' %}" class="btn green-btn w-100">PROCEED TO CHECKOUT</a>

                        </div>

                         {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ##### Cart Area End ##### -->

	{% endblock %}
