
{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!--main-->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static './img/bg-img/24.jpg' %});">
            <h2>Order Confirmed</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
>
    <div class="contact-area-info section-padding-0-100">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <!-- Contact Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="contact--thumbnail">
                        <img src="{% static 'img/bg-img/25.jpg' %}" alt="">
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>CONTACT US FOR ANY SUPPORT</h2>
                        <p>Call for any technical issue.</p>
                    </div>
                    <!-- Contact Information -->
                    <div class="contact-information">
                        <p><span>Address:</span> RGPV, Bhopal</p>
                        <p><span>Phone:</span> +91 9755689712</p>
                        <p><span>Email:</span> anshumanprajapati2000@gmail.com</p>
                        <p><span>Office hours:</span> Mon - Fri: 10 AM to 6 PM</p>

                    </div>
                </div>
            </div>
        </div>
    </div>




	{% endblock %}